pkgbase = redstone-nbt-bin
	pkgdesc = Modern cross-platform Minecraft NBT editor revived from NBTExplorer
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/Raul1x9/RedstoneNBT
	arch = x86_64
	license = GPL-3.0-or-later
	depends = dotnet-runtime-10.0
	depends = fontconfig
	depends = libx11
	depends = libice
	depends = libsm
	optdepends = libxcursor: Wayland and X11 cursor support
	provides = redstone-nbt
	conflicts = redstone-nbt
	source = https://github.com/Raul1x9/RedstoneNBT/releases/download/v1.0.0/redstone-nbt-1.0.0-linux-x64.tar.gz
	source = redstone-nbt.desktop
	sha256sums = bf8ea746376febe49e2017924e81f3348d0447c631eb526eb4ea440575475443
	sha256sums = dacf40ad9682447f796fc723be007c9058c367768e9d6ff088d4834276a4b705

pkgname = redstone-nbt-bin
