pkgbase = redstone-nbt-bin
	pkgdesc = Modern cross-platform Minecraft NBT editor revived from NBTExplorer
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/Raul/RedstoneNBT
	arch = x86_64
	license = MIT
	depends = dotnet-runtime-10.0
	depends = fontconfig
	depends = libx11
	depends = libice
	depends = libsm
	optdepends = libxcursor: Wayland and X11 cursor support
	provides = redstone-nbt
	conflicts = redstone-nbt
	source = redstone-nbt-1.0.0-linux-x64.tar.gz
	source = redstone-nbt.desktop
	sha256sums = c5cf7f9e37cffbcd6d1483b11c1eb3e8b7c42bf5e43b55c20e185e36ba7af40d
	sha256sums = dacf40ad9682447f796fc723be007c9058c367768e9d6ff088d4834276a4b705

pkgname = redstone-nbt-bin
